<nav class="navbar" [ngClass]="{ 
    'navbar--landing': variant === 'landing',
    'navbar--compact': variant === 'compact'
    }">
    <div class="navbar-content">
        <div class="navbar-inner">

            <div class="navbar-logo">
                <img src="assets/images/sarao-logo-very-small.png"
                    alt="SARAO Logo" 
                    class="logo-img"
                    routerLink="/calendar-view">
            </div>

            @switch (headerMode) {

                @case ('landing') {
                    <div class="navbar-buttons">
                        <a routerLink="/login" class="btn btn-dark">Login</a>
                        <a routerLink="/register" class="btn btn-primary">Register</a>
                    </div>
                }

                @case ('auth') {
                <div class="navbar-buttons">
                        <a routerLink="/login" class="btn btn-dark">Login</a>
                        <a routerLink="/register" class="btn btn-primary">Register</a>
                    </div>
                }

                @case ('main') {
                <div class="navbar-center">
                    <a routerLink="/memento"
                        class="btn-memento"
                        [class.active]="router.url.startsWith('/memento')">
                        <span class="material-symbols-outlined">diversity_1</span>
                    </a>
                </div>

                <div class="navbar-buttons-create">
                    <a routerLink="/memento"
                        class="btn-memento btn-memento-mobile"
                        [class.active]="router.url.startsWith('/memento')">
                        <span class="material-symbols-outlined">diversity_1</span>
                    </a>
                    <button (click)="onCalendarClick()" class="btn-logout">
                        <span class="material-symbols-outlined">event</span>
                        <span class="calendar-text">calendar</span>
                    </button>
                    <button (click)="onUserAreaClick()" class="btn-logout">
                        <span class="material-symbols-outlined">patient_list</span>
                        <span class="patient-text">See who</span>
                    </button>
                    <button (click)="onLogout()" class="btn-logout">
                        <span class="material-symbols-outlined">logout</span>
                        <span class="logout-text">Logout</span>
                    </button>
                    <div class="notification-bell">
                        <span class="material-symbols-outlined icon-bell">notifications</span>
                        <span class="notification-badge"></span>
                    </div>
                </div>
                }
            }
        </div>
    </div>
</nav>
