<div class="events-list">
    @if (events$().length === 0) {
        <div class="content-empty-state">
            <h2 class="empty-title"> No saraos yet 💤</h2>
        </div>
    }
    @for (event of events$(); track event.id) {
        <div class="event-card">
            @if (event.imageUrl && event.imageUrl !== '') {
                <img 
                    [src]="event.imageUrl" 
            alt="{{ event.title }}"
                    class="event-image"
                />
            } @else {
                <div class="event-image-placeholder">📅</div>
            }
            <div class="event-content">
                <div class="event-title-container">
                    <h3 class="event-title">{{ event.title }}</h3>
                    <div class="event-icons">
                        @if (isHostEvent(event)) {
                            <span 
                                class="material-symbols-outlined icon-edit"
                                routerLink="/event-preview"
                                (click)="onEditEvent(event)"
                            >edit_document</span>
                            <span 
                                class="material-symbols-outlined icon-delete"
                                routerLink="/event-preview"
                                (click)="onDeleteClick(event)"
                            >delete</span>
                            <span class="material-symbols-outlined icon-share" 
                                routerLink="/shareable-url"
                                (click)="onShareEvent(event.id)"
                            >share</span>
                        }
                        <span 
                            class="material-symbols-outlined icon-see"
                            routerLink="/event-preview"
                            (click)="onSee(event)"  
                        >visibility</span>
                    </div>
                </div>
                <p class="event-location">📍 {{ event.location.alias || 'No location' }}</p>
                <p class="event-datetime">
                    {{ event.eventDateTime | date: 'mediumDate' }} 
                    • {{ event.eventDateTime | date: 'shortTime' }}
                </p>
            </div>
        </div>
    }
    @if (eventToDelete) { 
        <app-delete-modal
            [event]="eventToDelete"
            (onConfirmDelete)="onConfirmDelete($event)"
        ></app-delete-modal>
    }
</div>

