<nav class="navbar" [ngClass]="{ 
    'navbar-home': isHome,
    'navbar-create-event': isCreateEvent,
    'navbar-calendar-view': isCalendarView  }">
    
    <div class="navbar-content">
        <div class="navbar-inner">
        <!-- Logo -->
        <div class="navbar-logo">
            <img 
            src="assets/images/sarao-logo.png"
            alt="SARAO Logo" 
            class="logo-img"
            routerLink="/home"
            >
        </div>

            <!-- BOTONES EN LANDING/LOGIN/REGISTER (cuando NO estamos en rutas autenticadas) -->
    @if (!isHome && !isCreateEvent && authService.currentUser()) {
        <div class="navbar-buttons">
            <a routerLink="/home" class="btn btn-primary">Home</a>
            <button (click)="onLogout()" class="btn-logout">
                <span class="material-symbols-outlined">logout</span>
                <span class="logout-text">Logout</span>
            </button>
        </div>
    }

    <!-- ===== USUARIO NO AUTENTICADO ===== -->
    @else {
        <div class="navbar-buttons">
            <a routerLink="/login" class="btn btn-secondary">Login</a>
            <a routerLink="/register" class="btn btn-primary">Register</a>
        </div>
    }
        </div>

    <!-- CONTENIDO EN /CREATE-EVENT (de momento vacío, lo llenarás después) -->
    @if (isCreateEvent) {
        <div class="navbar-buttons-create">
            <button (click)="onLogout()" class="btn-logout">
                <span class="material-symbols-outlined">logout</span>
                <span class="logout-text">Logout</span>
            </button>
            <!-- Aquí irán los botones de create-event en el futuro -->
            <div class="notification-bell">
                <span class="material-symbols-outlined icon-bell">notifications</span>
                <span class="notification-badge"></span>
            </div>
        </div>
    }
    </div>
</nav>