<nav class="navbar" [ngClass]="{ 
    'navbar-home': isHome,
    'navbar-create-event': isCreateEvent,
    'navbar-calendar-view': isCalendarView  }">
    
    <div class="navbar-content">
        <div class="navbar-inner">
        <!-- Logo -->
        <div class="navbar-logo">
            <img 
            src="assets/images/sarao-logo.png"
            alt="SARAO Logo" 
            class="logo-img"
            routerLink="/landing"
            >
        </div>

    <!-- ===== USUARIO AUTENTICADO ===== -->
    @if (authService.currentUser()) {
                
        <!-- HOME: Saludo + Notificaciones -->
        @if (isHome) {
            <div class="navbar-buttons-home">
                <span class="navbar-greeting">Hello, {{ username }}</span>
                <div class="notification-bell">
                    <span class="material-symbols-outlined icon-bell">notifications</span>
                    <span class="notification-badge"></span>
                </div>
            </div>
        }

        <!-- CREATE-EVENT o CALENDAR-VIEW: Solo Logout -->
        @if (isCreateEvent || isCalendarView) {
            <div class="navbar-buttons-create">
                <button (click)="onLogout()" class="btn btn-dark">Logout</button>
            </div>
        }
    }

    <!-- ===== USUARIO NO AUTENTICADO ===== -->
    @else {
        <div class="navbar-buttons">
            <a routerLink="/login" class="btn btn-secondary">Login</a>
            <a routerLink="/register" class="btn btn-primary">Register</a>
        </div>
    }
        </div>
    </div>  
</nav>