<div class="relative flex cursor-pointer border-r border-b border-indigo-200 bg-white p-3.5 transition-all duration-300 hover:bg-indigo-50 max-xl:min-h-[60px] xl:aspect-square">
    <span class="text-xs font-semibold text-gray-900">7</span>
    <div class="absolute top-9 bottom-1 left-3.5 h-max rounded bg-emerald-50 p-1.5 xl:px-2.5">
        <p class="mb-px hidden text-xs font-medium whitespace-nowrap text-emerald-600 xl:block">Developer Meetup</p>
            <span class="hidden text-xs font-normal whitespace-nowrap text-emerald-600 xl:block">10:00 - 11:00</span>
        <p class="h-2 w-2 rounded-full bg-emerald-600 xl:hidden"></p>
    </div>
</div>