.bringlist-container {
  align-items: center;
  justify-content: center;
}
.bl-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-dark);
  margin-bottom: 1rem;
  text-align: center;
}

.bl-input-row {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  margin-inline: auto;
}

.bl-input {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem;
}

.bl-input:focus {
  border-color: var(--color-azul);
  outline: none;
}

.btn-bringlist-ok {
  padding: 0.5rem 1rem;
  display: block;
  background-color: var(--color-azul);
  border: none;
  color: var(--color-dark);
  cursor: pointer;
  transition: background-color 0.15s;
  border-radius: 9999px;
  margin: 1rem auto 0;
}

.btn-bringlist-ok:hover {
  background-color: var(--color-banana);
}

.item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0.7rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.confirm-btn {
  margin-top: 1rem;
  width: 100%;
  border-radius: 9999px;
}

.confirmed {
  margin-top: 0.75rem;
  text-align: center;
  font-weight: 600;
  color: green;
  font-size: 0.95rem;
}

.btn-littleAdd {
  font-family: 'Koulen', sans-serif;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-dark);
  border: 1px solid #d1d5db;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  border-radius: 9999px;
}

.btn-littleAdd:hover {
  background-color: var(--color-blush);
}

