<div class="event-form-section">
    <div class="event-form-container">
        <div class="form-title">
            @if (isEditMode()) {
                <h2>Edit sarao</h2>
            } @else {
                <h2>Create New sarao</h2>
            }
        </div>
        <mat-stepper linear #stepper (selectionChange)="onStepChange($event)">
        <mat-step [stepControl]="step1FormGroup">
        <ng-template matStepLabel>Event Details</ng-template>
        <form [formGroup]="step1FormGroup">
            <div class="form-row full">
                <mat-form-field>
                    <label for="eventTitle">Event Name</label>
                    <input matInput formControlName="eventTitle" placeholder="Enter event name" />
                </mat-form-field>
            </div>
            <div class="form-row full">
                <mat-form-field>
                    <label for="description">Event Description</label>
                    <textarea matInput formControlName="description" placeholder="Describe your event..."></textarea>
                </mat-form-field>
            </div>
            <div class="button-container">
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
        </mat-step>
    <mat-step [stepControl]="step2FormGroup">
        <ng-template matStepLabel>Date & Time</ng-template>
        <form [formGroup]="step2FormGroup">
            <div class="form-row full">
                <label for="eventDateTime">Event Date & Time</label>
                    <p-datepicker 
                        formControlName="eventDateTime"
                        dateFormat="dd/mm/yy"
                        [showTime]="true"
                        yearRange="2025:2030"
                        hourFormat="24"
                        placeholder="When? What time?"
                        appendTo="body"
                        >
                        <ng-template pTemplate="date" let-date>
                                {{ date.day }}
                        </ng-template>
                    </p-datepicker>
            </div>
            <div class="button-container">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="step3FormGroup">
        <ng-template matStepLabel>Location</ng-template>
        <form [formGroup]="step3FormGroup">
            <div class="form-row">
                <mat-form-field>
                    <label for="location">Location Alias</label>
                    <input matInput formControlName="location" placeholder="Enter location name" />
                </mat-form-field>
            </div>
            <div class="form-row full">
                @if (isStep3Active()) {
                    <app-location-search
                        (locationSelected)="onLocationSelected($event)">
                    </app-location-search>
                }
            </div>

            @if (confirmedLocationAddress()) {
                <div class="form-row full">
                    <mat-form-field>
                    <label for="confirmedLocationAddress">Confirmed Address</label>
                    <input 
                        matInput 
                        [value]="confirmedLocationAddress()" 
                        readonly 
                        style="background-color: #f5f5f5;" />
                    </mat-form-field>
                </div>
            }

            <div class="button-container">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="step4FormGroup">
        <ng-template matStepLabel>Extra Details</ng-template>
        <form [formGroup]="step4FormGroup">
            <div class="form-row full">
                <mat-form-field>
                    <label for="selectedFileName">Upload Cover Image</label>
                    <input matInput [value]="selectedFileName || ''" readonly />
                    <input
                            type="file"
                            id="fileInput"
                            name="fileInput"
                            accept="image/*"
                            (change)="onFileSelected($event)"
                            style="display: none"
                        />
                        <button mat-button (click)="triggerFileInput()">Choose Image</button>
                    </mat-form-field>
                </div>
            <div class="form-row">
                <label for="allowedPlusOne">Are +1 people allowed?</label>
                <mat-radio-group formControlName="allowedPlusOne">
                <mat-radio-button [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="button-container">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="step5FormGroup">
        <ng-template matStepLabel>Bringlist</ng-template>
        <form [formGroup]="step5FormGroup">
            <div class="form-row">
                <label for="bringList">Do you want a bring list?</label>
                <mat-radio-group formControlName="bringList">
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            @if (step5FormGroup.get('bringList')?.value === true) {
                <div class="form-row full">
                    <app-bringlist 
                        (listConfirmed)="onBringlistConfirmed($event)">
                    </app-bringlist>
                </div>
            }

            <div class="button-container">
                <button mat-button matStepperPrevious>Back</button>
                @if (isEditMode()) {
                    <button mat-button (click)="onSubmit()">Save Changes</button>
                } @else {
                    <button mat-button (click)="onSubmit()">Create Event</button>
                }
            </div>
        </form>
    </mat-step>
    
    </mat-stepper>  
    </div>
    <app-footer></app-footer>
</div>
