<footer class="footer" 
    [ngClass]="{
        'footer--minimal': footerVariant === 'minimal',
        'footer--full': footerVariant === 'full'
    }">

    @if (footerVariant === 'full') {
        <div class="footer-inner">
            <a routerLink="/create" class="footer-icon footer-icon-add">
                <span class="material-symbols-outlined">add</span>
            </a>
        </div>
    } @else if (footerVariant === 'minimal') {
        <div class="footer-minimal-content">
        </div>
    }
</footer>
