<footer class="footer" [class.footer-home]="isHome" [class.footer-create]="isCreateEvent">
    <div class="footer-inner">
        <!-- Icono Home -->
        <a routerLink="/calendar-view" class="footer-icon">
            <span class="material-symbols-outlined">home</span>
        </a>

        <!-- Botón + destacado -->
        <a routerLink="/create" class="footer-icon footer-icon-add">
            <span class="material-symbols-outlined">add</span>
        </a>

        <!-- Icono Perfil -->
        <a href="#" class="footer-icon">
            <span class="material-symbols-outlined">person</span>
        </a>
    </div>
</footer>